.buttons {
    padding: 20px 50px 0 0;
    float: right;
}

.space {
    margin-bottom: 50px;
    width: 800px;
}

#myModal {
    margin-top: 110px;
}

.div-hover {
    border: 1px solid;
    border-radius: 8px;
    padding: 15px 20px 15px 20px;
    margin: 20px 0 25px;
    cursor: pointer;
    word-wrap: break-word
}

.div-hover:hover {
    background-color: #f2f2f2;
}
